<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
</head>
<body>

  <div id="app">
    <p>Su nombre completo es: {{ nombreCompleto }}</p>
    <input v-model="nombre1" placeholder="Nombre" />
    <input v-model="apellido1" placeholder="Apellido" />
    <button @click="Enviar">Enviar</button>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./app.js"></script>
</body>
</html>
